@{
    ViewBag.Title = "ConBrain";
}
<h2>Welcome to ConBrains.</h2>
<p>This is an educational project developed by a group of programmers to acquire server programming skills.</p>
<p>The project is a regular social network</p>
