@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "People";
}
<div id="content" class="fullSize">
</div>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js"></script>
<script asp-append-version="true" type="module" src="@Url.Content("js/people-page.jsx")"></script>
@Html.ReactInitJavaScript()
<table class="peopleBody"></table>
@* <script asp-append-version="true" src="~/js/peoplePage.js"></script> *@