.smallicon {
    margin: 2px 5px;
    height: 30px;
    width:30px;
}

.middleicon {
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}
.bigicon {
    margin: 6px 15px;
    height: 80px;
    width: 80px;
}
.smallavatar {
    margin: 0px 5px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 30%;
}

.middleavatar {
    margin: 5px 10px;
    max-height: 60px;
    max-width: 60px;
    border-radius: 30%;
}

.bigavatar {
    margin: 5px;
    max-height: 120px;
    max-width: 120px;
    border-radius: 30%;
}

.fullimage{
    width:100%;
}

.rowstretchstackpanel {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: center;
}
.rowwrapstackpanel {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.rownowrapstackpanel {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: center;
}

.columnstretchstackpanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: stretch;
}

.columnwrapstackpanel {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-wrap: wrap;
    align-items: stretch;
}

.columnnowrapstackpanel {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: stretch;
}

.contentbackground{
    margin:5px;
    padding:5px;
    border-radius:10px;
    background-color:#00000024;
}
.nick {
    text-align: right;
    margin: 20px 0px 0px 0px;
}
.downfixed{
    z-index:20;
}
.btn {
    text-decoration: solid;
}
    .btn:visited {
        text-decoration:solid;
    }

.registerBtn {
    color: var(--background-color);
    align-self: end;
    text-decoration: underline;
    font-size: x-large;
}
    .registerBtn:visited {
        color: var(--background-color);
        align-self: end;
        text-decoration: underline;
        font-size: x-large;
    }

.centralText {
    display: block;
    width: auto;
    align-self:center;
    height: auto;
    vertical-align:central;
    text-align: center;
    text-decoration: blink;
}
.fullSize{
    height:100%;
    width:100%;
}
.textBlock{
    padding: 0px 10px;
}
.content {
    background-color: var(--dark-background-color);
    border-radius: var(--big-border-radius);
    padding: 5px;
    margin: 5px 0px;
    width:100%;
}

.goodButton {
    background-color: var(--good-color);
    padding: 5px;
    border-radius: var(--border-radius);
}
.poorlyButton {
    background-color: var(--poorly-color);
    padding: 5px;
    border-radius: var(--border-radius);
}
.inputTextBox {
    padding: 10px;
    border-radius: var(--border-radius);
    width: 100%;
    border: 1px solid black;
}

.addItemButton {
    position: absolute;
    display: block;
    border-radius: 50%;
    height: 10%;
    width: 10%;
    max-height: 100px;
    max-width: 100px;
    background: var(--good-color);
    right: 20px;
    bottom: 20px;
}

.backgroundPresentContent {
    background: #00000022;
    padding: 10%;
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.presentContent {
    border-radius:var(--border-radius);
    padding: 3%;
    background: white;
    max-height:97%;
}