.dialog{
    padding: 10px;
    margin:5px;
    background:#00000044;
    font-size:x-large;
    border-radius:10px;
}
.stretchbutton {
    display: block;
    padding: 10px;
    margin: 5px;
    background: #6ddd9271;
    font-size: x-large;
    border-radius: 10px;
    text-decoration: blink;
    color: #9d08c1;
    text-align:center;
}
.stretchbutton:visited {
    color: #9d08c1;
}
.sublistelement{
    padding: 6px;
    margin:2px;
    border-radius:4px;
    background-color:#ffffff88;
}
.sendbutton{
    background-color:transparent;
}
.nick{
    margin:0px 5px;
}
.dates {
    margin: 0px 5px;
}
.message{
    padding:10px;
    margin: 0px 5px;
    border-radius:10px;
    background-color:#ffffff44;
}
.rootmessageblock {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #00000044;
}

.dialogcommandsdiv {
    height:40px;
}

.dialogdiv{
    height: calc(100% - 40px);
}
