.form {
    border-radius: 5%;
    width:100%;
    margin: 50px auto;
    color: black;
    font-size: 30px;
    padding: 50px 10%;
    margin:2% 5%;
    width:90%;
    height:96%;
    background-color:#00000030;
    display:flex;
    flex-direction:column;
    align-content:center;
}
.standartForm{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 5px 0px;
}
.nameForm{
    flex-shrink:2;
}
.valueForm{
    flex-shrink:4;
}

.buttonForm{
 display: block;
 background-color: rgb(255, 255, 255);
 margin:5%;
 padding:10px;
 height: auto;
 width: auto;
 text-align: center;
}

.buttonForm button {
font-size: 30px;
}