.form {
    border-radius: 15px;
    margin: 50px 10px;
    padding: 50px 10%;
    margin:2% 5%;
    width:90%;
    background-color:#00000030;
    display:flex;
    flex-direction:column;
    align-content:center;
}
.rowForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 5px;
}
.nameForm {
    flex-shrink: 2;
    padding: 10px 5px;
}
.valueForm {
    flex-shrink: 4;
    background-color: #ffffffAf;
    padding: 10px 5px;
}

.buttonForm {
    display: block;
    background-color: #00fe0037;
    padding: 10px;
    margin: 5px;
    height: auto;
    width: auto;
    text-align: center;
    font-size: medium;
    border-radius:15px;
}
.incorrectInput{
    background-color: #ff000064;
}

#registerLink{
    color:#D30000;
    text-align:right;
    text-decoration:underline;
}