.leftstackpanel {
    display: flex;
    flex-direction: row;
    justify-content:left;
    margin: 5px;
    flex-wrap:nowrap;
}

.leftwrapstackpanel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 5px;
    flex-wrap: wrap;
}

.downstackpanel {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-wrap: nowrap;
}

.downwrapstackpanel {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: wrap;
}

.loadingimage{
    align-self:center;
}