#foreground {
    position:fixed;
    height: 100%;
    width: 100%;
    padding:1%;
    min-height:843px;
    min-width:740px;
}
#rootDiv {
    display: flex;
    justify-content: center;
}
#contentDiv {
    z-index: 1;
    position: fixed;
    background-color: aliceblue;
    top: max(12.5%, 105px);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    aspect-ratio: 3/4;
    border-radius: 20px;
    padding: 40px;
    min-width: 460px;
    min-height: 615px;

}
#mainDiv {
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding: 20px;
    height:100%;
}
#mainDiv::-webkit-scrollbar {
    display: block;
    width: 5px;
    margin-right: 5px;
}
#mainDiv::-webkit-scrollbar-track {
    background: transparent;
}

#mainDiv::-webkit-scrollbar-thumb {
    background-color: #00000088;
    border-right: none;
    border-left: none;
}

#mainDiv::-webkit-scrollbar-track-piece:end {
    background: #00000044;
    margin-bottom: 20px;
}

#mainDiv::-webkit-scrollbar-track-piece:start {
    background: #00000044;
    margin-top: 20px;
}
.divMenu {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.divMenu > div {
    outline: #bbbbbb solid 3px;
    margin: 5px 10px;
    padding:5px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-self: center;
    align-items: center;
    background-color: white;
}
main{
    scroll-behavior:auto;
}
nav{
    margin-bottom:10px;
}
