
#imageDiv {
    transform:translate(50%, 0);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
}
#topImage {
    position:absolute;
    right: 20px;
    top: 20px;
    width: 300px;
}
#rightImage {
    position: absolute;
    right:0pc;
    top: 50%;
    margin-top: -150px;
    height: 300px;
}
#leftImage {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -150px;
    height: 300px;
}
#bottomImage {
    position:absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
}
#contentDiv {
    position: relative;
    background-color: aliceblue;
    left: 20%;
    top: 150px;
    width: 60%;
    height: auto;
    min-height:70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:right;
}
#title {
    text-align:center;
    font-size:xx-large;
}
.divMenu{
    display:flex;
    flex-direction:row;
    align-self:flex-start;
    align-items:center;
    flex-wrap:wrap;
}
.divMenu > div {
    outline: #bbbbbb solid 3px;
    margin: 5px 10px;
    padding:5px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-self: center;
    align-items: center;
    background-color: white;
}
.avatar {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.rowFlex{
    display:flex;
    flex-direction:row;
}
.icon{
    margin:2px 5px;
    height:10px;
    width:10px;
}
.middleicon {
    margin: 6px 15px;
    height: 30px;
    width: 30px;
}