#peopleBody{
    display:flex;
    flex-direction:column;
}
#addFriendButton{
    background:#00b50f8d;
    padding:7px;
    margin:5px;
    border-radius:5px;
}
#removeFriendButton {
    background: #9c06068d;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
}

.unshow{
    display: none;
}
.show{
    display: block;
}
