#addFriendButton {
    content:target-text("add to friends");
    padding:5px;
    background:#00ff21;
}
#removeFriendButton {
    content: target-text("remove from friends");
    padding: 5px;
    background: #ff0000;
}