<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/null.css" />
    <link type="text/css" rel="stylesheet" href="css/layout.css" />
</head>
<body>
    <div id="imageDiv">
        <img src="images/mainbackground/top.svg" id="topImage" />
        <img src="images/mainbackground/bottom.svg" id="bottomImage" />
        <img src="images/mainbackground/left.svg" id="leftImage" />
        <img src="images/mainbackground/right.svg" id="rightImage" />
        <div id="contentDiv">
            <h1 id="title">@ViewBag.Title</h1>
            <nav class="divMenu">
                <div>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </div>

            </nav>
            <main>
                @RenderBody()
            </main>
        </div>

    </div>
</body>
</html>
