<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/*.css"/>
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/personPage/*.css" />
</head>
<body>
    <div id="imageDiv">
        <img src="~/images/mainbackground/top.svg" asp-append-version="true" id="topImage" />
        <img src="~/images/mainbackground/bottom.svg" asp-append-version="true" id="bottomImage" />
        <img src="~/images/mainbackground/left.svg" asp-append-version="true" id="leftImage" />
        <img src="~/images/mainbackground/right.svg" asp-append-version="true" id="rightImage" />
        <div id="contentDiv">
            <h1 id="title">@ViewBag.Title</h1>
            <nav class="divMenu">
                <div>
                    <a asp-controller="Home" asp-action="Index" class="auth">Home</a>
                </div>
                <div>
                    <a asp-controller="Authorization" asp-action="Register" class="auth">Register</a>
                </div>
                <div>
                    <a asp-controller="Authorization" asp-action="Login" class="auth">Sign in</a>
                </div>
                <div>
                    <a asp-controller="Person" asp-action="Dates" class="auth">My Page</a>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="People" class="auth">People</a>
                </div>
            </nav>
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
