<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/*.css"/>
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/person/*.css"/>
</head>
<body>
    <div id="rootDiv">
        <img src="~/images/mainbackground/foreground.svg" asp-append-version="true" id="foreground"/>
        <div id="contentDiv">
            <h1 id="title">@ViewBag.Title</h1>
            <nav class="divMenu">
                <div>
                    <a asp-controller="Home" asp-action="Index" class="btn">Home</a>
                </div>
                @{
                    if (User.Claims.Count() != 0)
                    {
                        <div>
                            <a asp-controller="Person" asp-action="Home" class="btn">My Page</a>
                        </div>
                        <div>
                            <a asp-controller="Dialog" asp-action="Dialogs" class="btn">Dialogs</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a asp-controller="Authorization" asp-action="Login" class="btn">Sign in</a>
                        </div>
                    }
                }
                <div>
                    <a asp-controller="Home" asp-action="People" class="btn">People</a>
                </div>
            </nav>
            <main id="content">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
