@{
    ViewBag.Title = "Sign in";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post" name="loginform" asp-controller="Authorization" asp-action="LogOut" enctype="multipart/form-data">
    <div class="form">
        <div class="standartForm">
            <p class="nameForm">Login:</p>
            <input class="valueForm sendInput" required placeholder="phone number or nick" type="text" name="LoginOrNick" value="" />
        </div>
        <div class="standartForm">
            <p class="nameForm">Password:</p>
            <input class="valueForm sendInput" required placeholder="password" type="password" name="Pass" value="" />
        </div>
        <div class="buttonForm"><button type="submit">Sign in</button></div>
    </div>
</form>
<script asp-append-version="true" src="~/js/authorizationSkript.js" />