@{
    ViewBag.Title = "Sign in";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post" asp-controller="Authorization" asp-action="LogOut" enctype="multipart/form-data">
    <div class="form">
        <div class="standartForm">
            <p class="nameForm">Login:</p>
            <input class="valueForm" required placeholder="phone number or nick" type="text" name="loginOrNick" value="" />
        </div>
        <div class="standartForm">
            <p class="nameForm">Password:</p>
            <input class="valueForm" required placeholder="password" type="password" name="pass" value="" />
        </div>
        <div class="buttonForm"><button type="submit">Sign in</button></div>
    </div>
</form>
