@{
    ViewBag.Title = "Sign in";
}
@model UserLoginData
<table-form name="loginform" class="form" asp-controller="Authorization" method="post" asp-action="Login" target="@Model" table-name="log in"
            row-class-name="rowForm" property-class-name="nameForm" value-class-name="valueFormTd" request-button-content="log in"></table-form>
<a id="registerLink" asp-action="Register" asp-controller="Authorization">register</a>
<script asp-append-version="true" type="module" src="~/js/authorizations/login.js" />