@{
    ViewBag.Title = "Register";
}
<div id="content" class="fullSize">
</div>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js"></script>
<script asp-append-version="true" type="module" src="@Url.Content("js/authorizations/register.jsx")"></script>
@Html.ReactInitJavaScript()