@{
    ViewBag.Title = "Create dialog";
}
<div>
    <div class="form">
        <button class="buttonForm" id="create">create</button>
        <div class="rowForm">
            <p class="nameForm">Name</p>
            <input class="valueForm" type="text" name="dialogName" placeholder="name"/>
        </div>
        <div class="rowForm" id="membersBody">
            <div class="rowForm">Members: </div>
            <button class="buttonForm" id="appendFriend">+</button>
        </div>
    </div>
</div>
<script asp-append-version="true" src="~/js/personPage/builddialog.js"></script>