@{
    ViewBag.Title = "My dialogs";
}

<div>
    @{
        foreach (var dialog in Model.Dialogs)
        {
            <div class="dialog">@dialog.Name</div>
        }
    }
    <div>
        <a asp-controller="Dialog" asp-action="BuildDialog">Create dialog</a>
    </div>
</div>
<script asp-append-version="true" src="~/js/personPage/dialogs.js"></script>
