@model DialogData
@{
    ViewBag.Title = Model.Dialog.Name;
}

<div id="messagesBody">

</div>
@{
    string pathAvatar = "../" + Model.person.Data.Nick + "/image?key=" + Model.person.Data.AvatarPath;
}
<div class ="downfixed rowstackpanel">
    <img class="middleicon" src="@pathAvatar"/>
    <input class="valueForm" id="text" type="text" />
    <img class="smallicon sendbutton" id="send" src="/images/arrow.svg"></img>
    <img id="settings" src="/images/settings.svg" class="middleicon"></img>
    <img id="addPerson" src="/images/add_person.svg" class="middleicon"></img>
</div>
<script asp-append-version="true" src="~/js/personPage/dialog.js"></script>