
body{
 background-color: rgb(149, 98, 197);
}
.fioForm {
 border-radius: 50px 0px;
 height: 500px;
 width: 700px;
 margin: 50px auto;
 color: rgb(255, 255, 255);
 background-color: black;
 font-size: 30px;
 padding: 50px 150px;
}
.fioForm input{
 width: 200px;
 height: 28px;
 border-radius: 5px;
 font-size: 20px;
 padding: 0px 0px 0px 10px;
}
.fioForm input:focus{
 box-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.headerForm{
 text-align: center;
 margin: 0px 0px 40px 0px;
 font-weight: 700;
}
.headerForm span{
 text-shadow: 5px 5px 0px rgb(85, 85, 85);
}
.nameForm {
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 20px 0px;
}
.familiaForm {
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 20px 0px;
}
.otshestvoForm {
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 20px 0px;
}
.telForm{
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 20px 0px;
}
.nicknameForm {
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 20px 0px;
}
.passwordForm { 
 display: flex;
 justify-content: space-between;
}

.buttonForm button{
 display: block;
 font-size: 30px;
 background-color: rgb(255, 255, 255);
 font-size: 30px;
 margin: 40px auto;
 height: 40px;
 width: 300px;
 border-radius: 10px;
 text-align: center;
}

.blockRectangle1{
 background-color: rgb(195, 195, 195);
 position: absolute;
 right: 20%;
 top: 20px;
 width: 130px;
 height: 70px;
}
.blockRectangle2{
 background-color: rgb(115, 115, 115);
 position: absolute;
 right: 15%;
 top: 30px;
 width: 130px;
 height: 70px;
}
.blockRectangle3{
 background-color: rgb(195, 195, 195);
 position: absolute;
 left: 15%;
 bottom: 20px;
 width: 130px;
 height: 70px;
}
.blockRectangle4{
 background-color: rgb(115, 115, 115);
 position: absolute;
 left: 20%;
 bottom: 30px;
 width: 130px;
 height: 70px;
}