@{
    ViewBag.Title = "Change password";
}
@model Person
<form class="form" name="loginform" asp-controller="Person" asp-action="ChangePassword">
    <table>
        <caption>Change password</caption>
        <tr class="rowForm">
            <td class="nameForm">Old</td>
            <td class="valueFormTd">
                <input class="sendInput" type="password" name="oldPassword" placeholder="old password" />
            </td>
        </tr>
        <tr class="rowForm">
            <td class="nameForm">New</td>
            <td class="valueFormTd">
                <input class="sendInput" type="password" name="pass" placeholder="new password" />
            </td>
        </tr>
        <tr class="rowForm">
            <td class="nameForm">Repeat</td>
            <td class="valueFormTd">
                <input name="repeatpass" type="password" placeholder="repeat password" />
            </td>
        </tr>
    </table>
    <button class="buttonForm" name="send" type="submit">Change password</button>
</form>
<script asp-append-version="true" src="~/js/authorizations/authorizationSkript.js"></script>
<script asp-append-version="true" src="~/js/authorizations/passwordValidateScript.js"></script>