@{
    ViewBag.Title = "Friends";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using ConBrain.Model;
@model Person
<table>
    <caption>Friends</caption>
    <table name="peopleBody">
        @{
            foreach (var friend  in Model.Friends)
            {
                string? avatar = Model.AvatarPath;
                if (avatar == null || avatar == string.Empty)
                    avatar = "default.svg";
                string pathAvatar = "/avatars/" + avatar;

                <tr>
                    <td><img class="avatar" src=@pathAvatar /></td>
                    <td>@friend.Friend.Nick</td>
                    <td>@string.Format("{0} {1}", friend.Friend.Family, friend.Friend.Name)</td>
                </tr>
            }
        }
    </table>
</table>
<script asp-append-version="true" src="~/js/personPage/setLinkInPeopleBody.js"></script>
