@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ConBrain.Model;
@model Person
<table>
    <caption>Friends</caption>
    <tbody>
        @{
            foreach (var friend  in Model.Friends)
            {
                string? avatar = Model.AvatarPath;
                if (avatar == null || avatar == string.Empty)
                    avatar = "default.svg";
                string pathAvatar = "/avatars/" + avatar;

                <tr>
                    <td>< src=@avatar/></td>
                    <td>@friend.Nick</td>
                    <td>@string.Format("{0} {1}", friend.Family, friend.Name)</td>
                </tr>
            }
        }
    </tbody>
</table>
