@{
    ViewBag.Title = Model.Data.Nick + " friends";
}


<table class="peopleBody">
    <caption>Friends</caption>
    @{
        foreach (var friend  in Model.Friends)
        {
            string pathAvatar = "../" + friend.Friend.Data.Nick + "/image?key=" + friend.Friend.Data.AvatarPath;
            <tr>
                <td><img class="middleavatar" src=@pathAvatar /></td>
                <td>@friend.Friend.Data.Nick</td>
                <td>@string.Format("{0} {1}", friend.Friend.Data.Family, friend.Friend.Data.Name)</td>
            </tr>
        }
    }
</table>
<script asp-append-version="true" src="~/js/personPage/setLinkInPeopleBody.js"></script>
